<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>USERS</title>
</head>
<body>
    <a href="schadd">Расписание</a>
    <a href="subjadd">Предмет</a>
    <a href="techadd">Преподаватель</a>
    <a href="gradd">Группа</a>
    <br>
    <a href="getScheduleGroup">вывод</a>
    <br>
    <a href="getAllGroup">вывод групп</a>
    <br>
    <a href="getAllTeachers">вывод преподавателей</a>
    <br>
    <a href="getAllSubjects">вывод предметов</a>
    <br>
    <a href="getScheduleTeachers">вывод расписания по преподавателям</a>
</body>
</html>